body {
  font-family: 'Rajdhani', sans-serif;
  background-color: #000;
  color: #fff;
  overflow: hidden;
}
.font-mono-tech {
  font-family: 'Share Tech Mono', monospace;
}
/* Custom Scanline Effect */
.scanline {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    transparent 50%,
    rgba(0, 0, 0, 0.5) 51%
  );
  background-size: 100% 4px;
  pointer-events: none;
  z-index: 50;
  opacity: 0.1;
}
.vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 150px rgba(0,0,0,0.5) inset; /* Reduced opacity from 0.9 to 0.5 */
  pointer-events: none;
  z-index: 40;
}
